@using static TraffkPortal.Controllers.ApplicationController
@using static TraffkPortal.Controllers.ApplicationController.PageKeys

@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.HasBreadcrumbItems(true);
    ViewData.HasPageMenuItems(true);
    var pageKey = (PageKeys)ViewData[ViewDataKeys.PageKey];
    var entityId = (int)ViewData[ViewDataKeys.EntityId];
    var entityType = (AppTypes) ViewData[ViewDataKeys.EntityType];
}
@section listingTable
{
    @RenderSection("listingTable", false)
}
@section breadcrumbItems
{
    <li><a asp-controller="@Name" asp-action="@ActionNames.Index" id="IndexLink">Applications</a> <span>></span> </li>
    @RenderSection("breadcrumbItems", false)
}
@section pageNavItems {
    <li><a asp-action="Edit" asp-route-id="@entityId" class="@(pageKey==PageKeys.Basics?"active":"")">Main</a></li>
    @if (entityType == AppTypes.Portal)
    {
        <li><a asp-action="PortalSettings" asp-route-id="@entityId" class="@(pageKey==PageKeys.PortalSettings?"active":"")">Portal Settings</a></li>
    }
    <li><a asp-action="@ActionNames.SystemCommunications" asp-route-id="@entityId" class="@(pageKey==PageKeys.SystemCommunications? "active" : "")">System Communications</a></li>
    <li><a asp-action="RegistrationSettings" asp-route-id="@entityId" class="@(pageKey==PageKeys.RegistrationSettings?"active":"")">Registration Settings</a></li>
    @RenderSection("pageNavItems", false)
}
@section pageAlerts {
    @RenderSection("pageAlerts", false)
}
@section pageActionItems {
    @RenderSection("pageActionItems", false)
}
@section Scripts {
    @RenderSection("scripts", false)
}
@section pageDialogs {
    @RenderSection("pageDialogs", false)
}
@RenderBody()


