@model IEnumerable<App>
@using static TraffkPortal.Controllers.ApplicationController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Applications");
    ViewData.IsListingPage(true);
    ViewData.HasPageActions(false);
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AppId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppId">
                            @Html.DisplayFor(modelItem => item.AppName)
                        </a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
