@model IEnumerable<Release>
@using static TraffkPortal.Controllers.HomeController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Releases");
    ViewData.HasBreadcrumbItems(true);
    ViewData.IsListingPage(true);
}
@section breadcrumbItems
{
    <li><a asp-controller="@HomeController.Name" asp-action="@ActionNames.Index">Home</a> <span>></span> </li>
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(z => z.ReleaseDate)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.ReleaseName)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.ReleaseNotes)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ReleaseDate.Value.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseNotes)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}