@using RevolutionaryStuff.Core.Collections
@using Traffk.Tableau.REST.Models
@using static TraffkPortal.Controllers.ReportingController
@model IEnumerable<TreeNode<SiteViewResource>>

@foreach (var tn in Model)
{
    @*<h2>Budget Vs Actual (7)</h2>*@
    var tsv = tn.Data;
    if (tsv is SiteViewFolderResource && tn.HasChildren)
    {
        var folder = tsv as SiteViewFolderResource;
        <h2>@folder.Name</h2>
            <div class="row">
                <div class="panel small-padding">
                    @if (tn.HasChildren)
                    {
                        await Html.RenderPartialAsync("_TableauViewResourceTreeNodePartial2", tn.Children);
                    }
                </div>
            </div>
    }
    else if (tsv is SiteView)
    {
        var view = tsv as SiteView;
        var urlName = ReportingController.CreateAnchorName(tsv);
        <div class="col-md-3 col-sm-4">
            <div class="mini-panel">
                <div class="mini-panel-top">
                    <input type="checkbox" name="radios" class="" id="radio1" />
                    <label for="radio1">
                        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                    </label>
                </div>
                <div class="mini-panel-bottom">
                    <p class="mini-title"><a style="cursor:pointer" asp-route-id="@view.Id" asp-route-anchorName="@urlName" asp-action="@ReportingController.ActionNames.Report">@view.Name</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    }
}