@using RevolutionaryStuff.PowerBiToys.Objects
@using RevolutionaryStuff.Core.Collections
@using RevolutionaryStuff.Core.ApplicationParts
@using Traffk.Tableau.REST
@using Traffk.Tableau.REST.Models
@model Traffk.Tableau.REST.Models.SiteViewEmbeddableResource
@{
    ViewData.SetTitle(@Model.Name);
}

<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumbs">
            <li><a asp-controller="@ReportingController.Name" asp-action="Index">Reports</a> <span>></span> </li>
            <li><a asp-controller="@ReportingController.Name" asp-action="Index" asp-fragment="@Model.WorkbookName">@Model.WorkbookName</a> <span>></span> </li>
            <li>@Model.Name</li>
        </ul>
        <h1>@Model.Name</h1>
        <p class="subheading">Report description would appear here.</p>
        <div class="col-sm-10"></div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-large btn-white toggle" data-toggle="actions-filter3">Actions</button>
            <ul id="actions-filter3" class="floated-filter list-right">
                <li><a href="#" class="popup-export-report_open">Export</a></li>
                <li><a href="#">Send Message</a></li>
                @*<li><a href="#">Create Note</a></li>
                <li><a href="#" class="popup-confirm_open">Delete</a></li>*@
            </ul>
        </div>
    </div>

</div>

@await Html.PartialAsync("_ExportReportPartial")


@{ await Html.RenderPartialAsync("_ReportFramePartial"); }
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initViz("@Model.WorkbookName", "@Model.ViewName");
        });
    </script>
}
