@using Traffk.Bal.ReportVisuals
@using Traffk.Portal.Controllers
@using Traffk.Portal.Models.NoteModels
@model Traffk.Portal.Models.ReportingModels.IReportViewModel
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading(@Model.Title, @Model.Description);
    ViewData.HasBreadcrumbItems(true);
    ViewData.HasPageActions(true);
    ViewData.HasPageMenuItems(true);
    ViewData.IsContentPage(true);
    var entityId = @Model.Id.ToString();
    var pageKey = (ReportingController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];

}


@section breadCrumbItems {
    <li><a asp-controller="@ReportingController.Name" asp-action="Index">Reports</a> <span>></span> </li>
    <li><a asp-controller="@ReportingController.Name" asp-action="Index" asp-fragment="@Model.FolderName.ToUpperCamelCase()">@Model.FolderName.ToTitleFriendlyString()</a> <span>></span> </li>
}

@section pageActionItems {
    <li><a id="create-note-button" class="popup-create-note_open" data-section="create-note-container">Create Note</a></li>
    <li><a asp-controller="@ReportingController.Name" asp-action="DownloadReport" asp-route-id="@Model.Id" asp-route-anchorName="@ReportVisualService.CreateAnchorName(Model.Title)" >Download</a></li>
    <li><a asp-controller="@ReportingController.Name" asp-action="CreateScheduledReport" asp-route-id="@Model.Id" asp-route-anchorName="@ReportVisualService.CreateAnchorName(Model.Title)">Schedule</a></li>
    <li><a href="#" class="popup-send-report-message_open">Send Message</a></li>
}

@section pageNavItems {
    <li><a asp-controller="@ReportingController.Name" asp-action="Report" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == ReportingController.PageKeys.Report ? "active" : "")" data-section="personal-edit-form-container">Report</a></li>
    <li><a asp-controller="@ReportingController.Name" asp-action="ReportNotes" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == ReportingController.PageKeys.ReportNotes ? "active" : "")" data-section="personal-edit-form-container">Notes</a></li>
}

@{     await Html.RenderPartialAsync("~/Views/Shared/_ReportFramePartial.cshtml", Model); }

@section pageDialogs
{
    @Html.Partial("_CreateNotePartial", new NoteModel(NoteObjectType.Report, @entityId))
}
<!--
<button class="btn" id="getData" onclick="getUnderlyingData()">Get Data</button>

<div id="dataTarget" style="border: 3px solid green; "></div>
-->

@section Scripts {
    <script>

        function getUnderlyingData() {
            var sheet = viz.getWorkbook().getActiveSheet().getWorksheets()[0];
            // If the active sheet is not a dashboard, then you can just enter:
            // viz.getWorkbook().getActiveSheet();
            options = {
                maxRows: 10, // Max rows to return. Use 0 to return all rows
                ignoreAliases: false,
                ignoreSelection: true,
                includeAllColumns: false
            };

            sheet.getUnderlyingDataAsync(options).then(function (t) {
                table = t;
                var tgt = document.getElementById("dataTarget");
                var d = table.getData();
                var json = JSON.stringify(d);
                tgt.innerHTML = "<h4>Underlying Data:</h4><p>" + json + "</p>";
            });
        }


        jQuery('.export-report-button').click(function () {
            if (jQuery(this).attr('data-section') !== undefined) {
                var id = jQuery(this).attr('data-section');
                jQuery('.export-report-step:not(#' + id + ')').hide();
                jQuery('#' + id).fadeIn(300);
            }
        });

        jQuery('.send-report-message-button').click(function () {
            if (jQuery(this).attr('data-section') !== undefined) {
                var id = jQuery(this).attr('data-section');
                jQuery('.send-report-message-step:not(#' + id + ')').hide();
                jQuery('#' + id).fadeIn(300);
            }
        });
</script>

<script type="text/javascript">
        function exportReport() {
            $("#message-exported-alert").fadeIn(500).delay(4000).hide(500);
            jQuery('.export-report-step:not(#export-report-step-1)').hide();
        }

        function sendReportMessage() {
            $("#MessageSentAlert").fadeIn(500).delay(4000).hide(500);
            jQuery('.send-report-message-step:not(#send-report-message-step-1)').hide();

        }
</script>

    <script type="text/javascript">
                    $(document).ready(function () {
                        initViz("@Model.WorkbookName", "@Model.ViewName");
                    });
</script>
}
