@using static TraffkPortal.Controllers.CommunicationsController
@{
    Layout = "~/Views/Shared/_LayoutHeroEntity.cshtml";
    var pageKey = (CommunicationPageKeys)ViewData[ViewDataKeys.PageKey];
    var entityId = (int)ViewData[ViewDataKeys.EntityId];
    var isNewEntity = entityId < 1;
    if (isNewEntity)
    {
        ViewData.SetTitleAndHeading("Create Blast");
    }
    var jobStatus = ViewData["JobStatus"] as string ?? Job.StatusNames.NonYetQueued;
    var parentEntityId = (int?)ViewData[ViewDataKeys.ParentEntityId];
}
@section navItems {
    <li><a asp-action="Blast" asp-route-id="@entityId" class="@(pageKey==CommunicationPageKeys.Background?"current-section":"")">Main</a></li>
    @if (!isNewEntity)
    {
        <li><a asp-action="@ActionNames.CommunicationCreative" asp-route-id="@entityId" class="@(pageKey==CommunicationPageKeys.Creative?"current-section":"")">Creative</a></li>
        @*
            <li><a asp-action="@ActionNames.CommunicationQuery" asp-route-id="@entityId" class="@(pageKey == CommunicationPageKeys.Query ? "current-section" : "")">Query</a></li>
        *@
        <li><a asp-action="@ActionNames.CommunicationSchedule" asp-route-id="@entityId" class="@(pageKey == CommunicationPageKeys.Schedule ? "current-section" : "")">Schedule</a></li>
        @*    <li><a asp-action="@ActionNames.CommunicationBlasts" asp-route-id="@entityId" class="@(pageKey == CommunicationPageKeys.Blasts ? "current-section" : "")">Blasts</a></li>
        *@
    }
    @RenderSection("navItems", required: false)
}
@section pageAlerts {
    @if (ViewBag.ShowAlertCommunicationSaved == true)
    {
        <div class="alert alert-success" role="alert">This communication has been saved.</div>
    }
    @RenderSection("pageAlerts", required: false)
}
@section pageActionButtons {
    @if (!isNewEntity)
    {
        switch (jobStatus)
        {
            case Job.StatusNames.NonYetQueued:
                <button type="button" class="btn caseefault" asp-action="Create">Send Now</button>;
                break;
            case Job.StatusNames.Queued:
            case Job.StatusNames.Dequeued:
            case Job.StatusNames.Running:
                <button type="button" class="btn caseefault" asp-action="Create">Cancel In Progress Send</button>;
                break;
        }
    }
    @RenderSection("pageActionButtons", required: false)
}
@section pageDialogs {
    @RenderSection("pageDialogs", required: false)
}
@section Scripts {
    @RenderSection("scripts", required: false)
}

@RenderBody()

