@model IEnumerable<Communication>
@using static TraffkPortal.Controllers.CommunicationsController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Communications");
    ViewData.IsListingPage(true);
    ViewData.HasSelectableItems(true);
    ViewData.HasPageActions(true);
}
@section pageActionItems
{
    <li><a asp-action="@ActionNames.CommunicationCreate">Create</a></li>
    <li class="multiselect-action">
        <a onclick="deleteCommunications()" class="confirm-on-click" confirmMessageFunction="deleteSelectedItemsMessage()">Delete</a>
    </li>
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th><input type="checkbox" id="all-items-selector" /></th>
            <th>
                @Html.SortableHeaderFor(model => model.CommunicationId)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CommunicationTitle)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.TopicName)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CampaignName)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr contextId="@item.CommunicationId">
                <td><input type="checkbox" class="item-selector" contextId="@item.CommunicationId" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommunicationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="@ActionNames.CommunicationDetails" asp-route-id="@item.CommunicationId">
                        @Html.DisplayFor(modelItem => item.CommunicationTitle)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignName)
                </td>
                <td class="text-center">
                    <i class="fa fa-ellipsis-h toggle" aria-hidden="true" data-toggle="row-action-@item.CommunicationId"></i>
                    <ul id="row-action-@item.CommunicationId" class="floated-filter list-right">
                        <li>
                            <a onclick="deleteCommunication(@item.CommunicationId)" class="confirm-on-click" confirmMessage="Are you sure you want to delete communication: @item.CommunicationTitle?">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
}