@using static TraffkPortal.Controllers.CommunicationsController
@model IEnumerable<CommunicationBlast>
@{
    Layout = "~/Views/Communications/_LayoutCommunication.cshtml";
    ViewData.SetTitleAndHeading("Communications Blasts");
    ViewData.IsListingPage(true);
    ViewData.HasPageMenuItems(false);
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.CommunicationBlastId)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.JobId)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Job.JobStatusStringValue)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Job.DontRunBefore)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a 
                           asp-action="@ActionNames.CommunicationBlast" 
                           asp-route-communicationId="@item.CommunicationId" 
                           asp-route-communicationBlastId="@item.CommunicationBlastId">
                            @Html.DisplayFor(modelItem => item.CommunicationBlastId)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="JobsController" asp-action="@JobsController.ActionNames.Job" asp-route-id="@item.JobId">
                            @Html.DisplayFor(modelItem => item.JobId)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.JobStatusStringValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.DontRunBefore)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}