@using Traffk.Bal.Data.Ddb.Crm
@model IEnumerable<CommunicationLog>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.CreatedAt)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.Subject)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.CommunicationMedium)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.FirstSeenAt)
            </th>
            <th>Clickthroughs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommunicationMedium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstSeenAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackedLinksTotalClicks)
                </td>
            </tr>
        }
    </tbody>
</table>

@{ await Html.RenderPartialAsync("_PaginationPartial"); }
