@using static TraffkPortal.Controllers.CrmController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.HasBreadcrumbItems(true);
    ViewData.HasPageMenuItems(true);
    ViewData.HasPageActions(true);
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];
    var entityName = ViewData[AspHelpers.ViewDataKeys.EntityTitle].ToString();
    var entityId = ViewData[AspHelpers.ViewDataKeys.EntityId].ToString();
    var isNewEntity = string.IsNullOrEmpty(entityId);
    var isPerson = ContactTypes.Person == (ContactTypes)ViewData["ContactType"];
    var isOrg = ContactTypes.Organization == (ContactTypes)ViewData["ContactType"];

    string profileImageBaseUrl = "/images/profile/";
    string profileImage = "unidentified.jpg";
    if (isOrg)
    {
        profileImage = "organization.jpg";
    }
    else
    {
        var gender = ViewData["ContactGender"] as string;
        if (Traffk.Bal.Data.Genders.IsMale(gender))
        {
            profileImage = $"male.jpg";
        }
        else if (Traffk.Bal.Data.Genders.IsFemale(gender))
        {
            profileImage = $"female.jpg";
        }
    }
    string profileUrl = profileImageBaseUrl + profileImage;


    var contactEmailAddress = ViewData["ContactEmailAddress"] as string;
    if (isNewEntity)
    {
        ViewData.SetTitleAndHeading("Create " + ViewData["ContactType"]);
    }
    bool isHealthSection;
    switch (pageKey)
    {
        case CrmController.PageKeys.CareAlerts:
        case CrmController.PageKeys.Demographics:
        case CrmController.PageKeys.Eligibility:
        case CrmController.PageKeys.EligibilityList:
        case CrmController.PageKeys.HighCostDiagnosis:
        case CrmController.PageKeys.HistoricalScores:
        case CrmController.PageKeys.MedicalClaims:
        case CrmController.PageKeys.MemberPCP:
        case CrmController.PageKeys.Participation:
        case CrmController.PageKeys.Pharmacy:
        case CrmController.PageKeys.QualityMetrics:
        case CrmController.PageKeys.Scores:
        case CrmController.PageKeys.Visit:
            isHealthSection = true;
            break;
        default:
            isHealthSection = false;
            break;
    }
}
@if (ViewData.HasPageMenuItems())
{
    @section pageNavItems {
        <li><a asp-controller="@CrmController.Name" asp-action="ContactBackground" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey==CrmController.PageKeys.Background?"active":"")" data-section="personal-edit-form-container">Personal</a></li>
        <li><a asp-action="@ActionNames.ContactNotes" asp-route-id="@entityId" class="@(pageKey==CrmController.PageKeys.Notes?"active":"")">Notes</a></li>
        <li><a asp-action="@ActionNames.ContactMessages" asp-route-id="@entityId" class="@(pageKey==CrmController.PageKeys.Messages?"active":"")">Messages</a></li>
        @if (isPerson)
        {
            <li>
                <a href="javascript:void(0)" class="toggle @(isHealthSection?"active":"")" data-toggle="personal-health">Health <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                <ul id="personal-health" class="floated-filter">
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.CareAlertsList" class="@(pageKey==CrmController.PageKeys.CareAlerts?"active":"")">Care Alerts</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Demographic" class="@(pageKey==CrmController.PageKeys.Demographics?"active":"")">Demographics</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.EligibilityList" class="@(pageKey==CrmController.PageKeys.Eligibility?"active":"")">Eligibility</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HighCostDiagnosis" class="@(pageKey==CrmController.PageKeys.HighCostDiagnosis?"active":"")">High Cost Diagnosis</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MedicalClaimsList" class="@(pageKey==CrmController.PageKeys.MedicalClaims?"active":"")">Medical Claims</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MemberPcp" class="@(pageKey==CrmController.PageKeys.MemberPCP?"active":"")">MemberPCP</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.ParticipationList" class="@(pageKey==CrmController.PageKeys.Participation?"active":"")">Participation</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.PharmacyList" class="@(pageKey==CrmController.PageKeys.Pharmacy?"active":"")">Pharmacy</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Score" class="@(pageKey==CrmController.PageKeys.Scores?"active":"")">Score</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HistoricalScoreList" class="@(pageKey==CrmController.PageKeys.HistoricalScores?"active":"")">Scores (Historical)</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.QualityMetricsList" class="@(pageKey==CrmController.PageKeys.QualityMetrics?"active":"")">Quality Metrics</a></li>
                    <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.VisitList" class="@(pageKey==CrmController.PageKeys.Visit?"active":"")">Visits</a></li>
                </ul>
            </li>
        }

        @RenderSection("pageNavItems", false)
    }
}


@section pageActionItems {
    <li><a id="create-note-button" class="popup-create-note_open" data-section="create-note-container">Create Note</a></li>
    <li><a href="#">Send Message</a></li>
    <li><a href="#" class="popup-confirm_open">Delete Person</a></li>
    @RenderSection("pageActionItems", false)
}

@section breadcrumbItems
{
    <li><a asp-controller="@Name" asp-action="@ActionNames.ContactList" id="IndexLink">Contacts</a> <span>></span> </li>
    @if (@ViewData[AspHelpers.ViewDataKeys.EntityTitle] != @ViewData[AspHelpers.ViewDataKeys.Heading])
    {
        <li><a asp-controller="@CrmController.Name" asp-action="ContactBackground" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">@ViewData[AspHelpers.ViewDataKeys.EntityTitle]</a> <span>></span> </li>
    }
    @RenderSection("breadcrumbItems", false)
}

@section listingTable
{
    @RenderSection("listingTable", false)
}

@section pageDialogs {
    @RenderSection("pageDialogs", false)

    <div id="sendMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email @entityName (@contactEmailAddress)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="MessageTemplate">Message Template</label>
                            <div class="col-md-10">
                                <select asp-items="ViewBag.EmailTemplateItems" id="MessageTemplate" name="MessageTemplate"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageSubject">Subject</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageSubject" class="form-control" id="DirectMessageSubject"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageText">Body</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageBody" class="form-control" id="DirectMessageBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="sendDirectMessage()">Send</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="popup-create-note" class="popup">
        <div class="popup-content-container">
            <a class="popup-create-note_close"><i class="fa fa-2x fa-times popup-close-btn"></i></a>
            <h3>Create Note</h3>
            <form role="form" id="personal-edit-form" class="inline-form">
                <div class="form-row">
                    <textarea class="form-control" id="NewNoteContent"></textarea>
                </div>
                <ul class="step-buttons">
                    <li><a href="#" class="btn btn-primary btn-large popup-create-note_close" onclick="createNote()">Save</a></li>
                    <li><a href="#" class="btn btn-large btn-grey popup-create-note_close">Cancel</a></li>
                </ul>
            </form>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        function sendDirectMessage() {
            var postData = {
                templateId: $("#MessageTemplate").val(),
                subject: $("#DirectMessageSubject").val(),
                body: $("#DirectMessageBody").val()
            };
            $.post(
            "/Crm/Contacts/@entityId/SendDirectMessage",
            postData,
            function () {
                $("#MessageSentAlert").html("Message [" + postData.subject + "] was successfully sent.");
                $("#MessageSentAlert").show();
            });
        }
        function createNote() {
            var postData = {
                content: $("#NewNoteContent").val(),
                parentNoteId: null
            };
            $.post(
            "/Crm/Contacts/@entityId/CreateNote",
            postData,
            function () {
                $("#note-created-alert").fadeIn(500).delay(4000).hide(500);
            });
        }
    </script>
    @RenderSection("scripts", false)
}
@if (!ViewData.IsListingPage())
{
    <div id="personal-edit-form-container" class="personal-section medium-padding">
        <img class="mobile-block-centered"
             src="@profileUrl"
             id="personal-page-img"
             alt="" />
        <div col-sm-8>
            @RenderBody()
        </div>
    </div>
}
@RenderBody()
