@{
    Layout = "~/Views/Crm/_LayoutContact2.cshtml";
    var filters = ViewBag.ListingFilters as ListingFilters;
    var hasFilters = filters != null;
    string contactType = ViewData["ContactType"].ToString();
    string profileImageBaseUrl = "/images/profile/";
    string profileImage = "unidentified.jpg";
    if (contactType == ContactTypes.Person.ToString())
    {
        var gender = ViewData["ContactGender"].ToString();
        switch (gender.ToLower())
        {
            case "male":
            case "female":
                profileImage = $"{gender}.jpg";
                break;
            default:
                break;
        }
    }
    if (contactType == ContactTypes.Organization.ToString())
    {
        profileImage = "organization.jpg";
    }
    string profileUrl = profileImageBaseUrl + profileImage;
}

<div id="personal-edit-form-container" class="personal-section medium-padding">
    <img class="mobile-block-centered" 
         src="@profileUrl" 
         id="personal-page-img"
         alt="" />
    <div col-sm-8>
        @RenderBody()
    </div>
</div>
@section breadcrumbs {
    <ul class="breadcrumbs">
        <li><a asp-controller="@CrmController.Name" asp-action="Index">CRM</a> <span>></span> </li>
        @if (@ViewData[AspHelpers.ViewDataKeys.EntityTitle] != @ViewData[AspHelpers.ViewDataKeys.Heading])
        {
            <li><a asp-controller="@CrmController.Name" asp-action="ContactBackground" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">@ViewData[AspHelpers.ViewDataKeys.EntityTitle]</a> <span>></span> </li>
        }
        <li>@ViewData[ViewDataKeys.Heading]</li>
    </ul>
}
<!--SPAish sections for CRM Contact-->
@await Html.PartialAsync("_CreateNotePartial")

@section Scripts {
    <script type="text/javascript">
        jQuery('#personal-page-nav li a').click(function () {
            if (jQuery(this).attr('data-section') !== undefined) {
                var id = jQuery(this).attr('data-section');
                jQuery('.personal-section:not(#' + id + ')').hide(300);
                jQuery('#' + id).fadeIn(300);
                jQuery('#personal-page-nav li a').removeClass('active');
                jQuery(this).addClass('active');
            }
        });

        jQuery('#create-note-button').click(function () {
            if (jQuery(this).attr('data-section') !== undefined) {
                var id = jQuery(this).attr('data-section');
                jQuery('.personal-section:not(#' + id + ')').hide(300);
                jQuery('#' + id).fadeIn(300);
                jQuery('#personal-page-nav li a').removeClass('active');
                jQuery('#personal-page-nav-notes').addClass('active');
            }
        });

        jQuery('#personal-page-nav-notes').click(function () {
            showTabContent(this);
            setActiveTab(this);
        });

        var setActiveTab = function (elementName) {
            jQuery('#personal-page-nav li a').removeClass('active');
            jQuery(elementName).addClass('active');
        }

        var showTabContent = function (elementName) {
            if (jQuery(elementName).attr('data-section') !== undefined) {
                var id = jQuery(elementName).attr('data-section');
                jQuery('.personal-section:not(#' + id + ')').hide(300);
                jQuery('#' + id).fadeIn(300);
            }
        }
    </script>
    @RenderSection("scripts", required: false)
}