@using static TraffkPortal.Controllers.CrmController
@{
    Layout = "~/Views/Shared/_LayoutHeroEntity2.cshtml";
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];
    var entityName = ViewData[AspHelpers.ViewDataKeys.EntityTitle].ToString();
    var entityId = ViewData[AspHelpers.ViewDataKeys.EntityId].ToString();
    var isNewEntity = string.IsNullOrEmpty(entityId);
    var isPerson = Contact.ContactTypes.IsPerson(ViewData["ContactType"] as string);
    var contactEmailAddress = ViewData["ContactEmailAddress"] as string;
    if (isNewEntity)
    {
        ViewData.SetTitleAndHeading("Create " + ViewData["ContactType"]);
    }
    bool isHealthSection;
    switch (pageKey)
    {
        case CrmController.PageKeys.CareAlerts:
        case CrmController.PageKeys.Demographics:
        case CrmController.PageKeys.Eligibility:
        case CrmController.PageKeys.HighCostDiagnosis:
        case CrmController.PageKeys.HistoricalScores:
        case CrmController.PageKeys.MedicalClaims:
        case CrmController.PageKeys.MemberPCP:
        case CrmController.PageKeys.Participation:
        case CrmController.PageKeys.Pharmacy:
        case CrmController.PageKeys.QualityMetrics:
        case CrmController.PageKeys.Scores:
        case CrmController.PageKeys.Visit:
            isHealthSection = true;
            break;
        default:
            isHealthSection = false;
            break;
    }
}
@section navItems {
    <div class="row border-bottom">
        <div class="col-sm-10" id="filter-tags-container">
            <ul id="personal-page-nav">
                @*<li><a asp-action="@ActionNames.ContactBackground" asp-route-id="@entityId" class="@(pageKey==PageKeys.Background?"current-section":"")">Personal</a></li>
                <li><a asp-action="@ActionNames.ContactMessages" asp-route-id="@entityId" class="@(pageKey==PageKeys.Messages?"current-section":"")">Messages</a></li>
                <li><a asp-action="@ActionNames.ContactNotes" asp-route-id="@entityId" class="@(pageKey==PageKeys.Notes?"current-section":"")">Notes</a></li>*@
                <li><a href="javascript:void(0)" class="@(pageKey==CrmController.PageKeys.Background?"active":"")" data-section="personal-edit-form-container">Personal</a></li>
                <li><a href="javascript:void(0)" class="@(pageKey==CrmController.PageKeys.Background?"active":"")" data-section="personal-notes-container">Notes</a></li>
                <li><a href="javascript:void(0)" class="@(pageKey==CrmController.PageKeys.Background?"active":"") popup-messages_open">Messages</a></li>
                @if (isPerson)
                {
                    <li>
                        <a href="javascript:void(0)" class="toggle" data-toggle="personal-health">Health <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                        <ul id="personal-health" class="floated-filter">
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.CareAlertsList" class="@(pageKey==CrmController.PageKeys.CareAlerts?"current-section":"")">Care Alerts</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Demographic" class="@(pageKey==CrmController.PageKeys.Demographics?"current-section":"")">Demographics</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.EligibilityList" class="@(pageKey==CrmController.PageKeys.Eligibility?"current-section":"")">Eligibility</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HighCostDiagnosis" class="@(pageKey==CrmController.PageKeys.HighCostDiagnosis?"current-section":"")">High Cost Diagnosis</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MedicalClaimsList" class="@(pageKey==CrmController.PageKeys.MedicalClaims?"current-section":"")">Medical Claims</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MemberPcp" class="@(pageKey==CrmController.PageKeys.MemberPCP?"current-section":"")">MemberPCP</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.ParticipationList" class="@(pageKey==CrmController.PageKeys.Participation?"current-section":"")">Participation</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.PharmacyList" class="@(pageKey==CrmController.PageKeys.Pharmacy?"current-section":"")">Pharmacy</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Score" class="@(pageKey==CrmController.PageKeys.Scores?"current-section":"")">Score</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HistoricalScoreList" class="@(pageKey==CrmController.PageKeys.HistoricalScores?"current-section":"")">Scores (Historical)</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.QualityMetricsList" class="@(pageKey==CrmController.PageKeys.QualityMetrics?"current-section":"")">Quality Metrics</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.VisitList" class="@(pageKey==CrmController.PageKeys.Visit?"current-section":"")">Visits</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-large btn-white toggle" data-toggle="actions-filter3">Actions</button>
            <ul id="actions-filter3" class="floated-filter list-right">
                <li><a href="#">Create Note</a></li>
                <li><a href="#">Send Message</a></li>
                <li><a href="#" class="popup-confirm_open">Delete</a></li>
            </ul>
        </div>
    </div>
}

@*@section pageAlerts {
    <div class="alert alert-success" role="alert" id="MessageSentAlert" style="display:none">Message has been sent.</div>
    <div class="alert alert-success" role="alert" id="NoteCreatedAlert" style="display:none">Note was created.</div>
    @RenderSection("pageAlerts", required: false)
}
@section pageDialogs {
    @RenderSection("pageDialogs", required: false)
    <div id="createNoteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create note regarding @entityName</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="NewNoteContent">Content</label>
                            <div class="col-md-10">
                                <textarea name="NewNoteContent" class="form-control" id="NewNoteContent"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="createNote()">Create</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="sendMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email @entityName (@contactEmailAddress)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="MessageTemplate">Message Template</label>
                            <div class="col-md-10">
                                <select asp-items="ViewBag.EmailTemplateItems" id="MessageTemplate" name="MessageTemplate"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageSubject">Subject</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageSubject" class="form-control" id="DirectMessageSubject"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageText">Body</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageBody" class="form-control" id="DirectMessageBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="sendDirectMessage()">Send</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}*@
@section Scripts {
    <script type="text/javascript">
        function sendDirectMessage() {
            var postData = {
                templateId: $("#MessageTemplate").val(),
                subject: $("#DirectMessageSubject").val(),
                body: $("#DirectMessageBody").val()
            };
            $.post(
            "/Crm/Contacts/@entityId/SendDirectMessage",
            postData,
            function () {
                $("#MessageSentAlert").html("Message [" + postData.subject + "] was successfully sent.");
                $("#MessageSentAlert").show();
            });
        }
        function createNote() {
            var postData = {
                content: $("#NewNoteContent").val(),
                parentNoteId: null
            };
            $.post(
            "/Crm/Contacts/@entityId/CreateNote",
            postData,
            function () {
                $("#NoteCreatedAlert").show();
            });
        }
    </script>
    @RenderSection("scripts", required: false)
}
@RenderBody()
