@using static TraffkPortal.Controllers.CrmController
@{
    Layout = "~/Views/Shared/_LayoutHeroEntity2.cshtml";
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];
    var entityName = ViewData[AspHelpers.ViewDataKeys.EntityTitle].ToString();
    var entityId = ViewData[AspHelpers.ViewDataKeys.EntityId].ToString();
    var isNewEntity = string.IsNullOrEmpty(entityId);
    var isPerson = ContactTypes.Person == (ContactTypes)ViewData["ContactType"];
    var contactEmailAddress = ViewData["ContactEmailAddress"] as string;
    if (isNewEntity)
    {
        ViewData.SetTitleAndHeading("Create " + ViewData["ContactType"]);
    }
    bool isHealthSection;
    switch (pageKey)
    {
        case CrmController.PageKeys.CareAlerts:
        case CrmController.PageKeys.Demographics:
        case CrmController.PageKeys.Eligibility:
        case CrmController.PageKeys.EligibilityList:
        case CrmController.PageKeys.HighCostDiagnosis:
        case CrmController.PageKeys.HistoricalScores:
        case CrmController.PageKeys.MedicalClaims:
        case CrmController.PageKeys.MemberPCP:
        case CrmController.PageKeys.Participation:
        case CrmController.PageKeys.Pharmacy:
        case CrmController.PageKeys.QualityMetrics:
        case CrmController.PageKeys.Scores:
        case CrmController.PageKeys.Visit:
            isHealthSection = true;
            break;
        default:
            isHealthSection = false;
            break;
    }
}

@section navItems {
    <div class="row border-bottom">
        <div class="col-sm-10" id="filter-tags-container">
            <ul id="personal-page-nav">
                <li><a asp-controller="@CrmController.Name" asp-action="ContactBackground" asp-for-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey==CrmController.PageKeys.Background?"active":"")" data-section="personal-edit-form-container">Personal</a></li>
                @*<li><a href="#" id="personal-page-nav-notes" data-section="personal-notes-container">Notes</a></li>*@
                <li><a asp-action="@ActionNames.ContactNotes" asp-route-id="@entityId">Notes</a></li>
                <li><a asp-action="@ActionNames.ContactMessages" asp-route-id="@entityId">Messages</a></li>
                @if (isPerson)
                {
                    <li>
                        <a href="javascript:void(0)" class="toggle @(isHealthSection?"active":"")" data-toggle="personal-health">Health <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                        <ul id="personal-health" class="floated-filter">
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.CareAlertsList" class="@(pageKey==CrmController.PageKeys.CareAlerts?"active":"")">Care Alerts</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Demographic" class="@(pageKey==CrmController.PageKeys.Demographics?"active":"")">Demographics</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.EligibilityList" class="@(pageKey==CrmController.PageKeys.Eligibility?"active":"")">Eligibility</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HighCostDiagnosis" class="@(pageKey==CrmController.PageKeys.HighCostDiagnosis?"active":"")">High Cost Diagnosis</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MedicalClaimsList" class="@(pageKey==CrmController.PageKeys.MedicalClaims?"active":"")">Medical Claims</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.MemberPcp" class="@(pageKey==CrmController.PageKeys.MemberPCP?"active":"")">MemberPCP</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.ParticipationList" class="@(pageKey==CrmController.PageKeys.Participation?"active":"")">Participation</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.PharmacyList" class="@(pageKey==CrmController.PageKeys.Pharmacy?"active":"")">Pharmacy</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.Score" class="@(pageKey==CrmController.PageKeys.Scores?"active":"")">Score</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.HistoricalScoreList" class="@(pageKey==CrmController.PageKeys.HistoricalScores?"active":"")">Scores (Historical)</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.QualityMetricsList" class="@(pageKey==CrmController.PageKeys.QualityMetrics?"active":"")">Quality Metrics</a></li>
                            <li><a asp-controller="Crm" asp-route-id="@entityId" asp-action="@ActionNames.Health.VisitList" class="@(pageKey==CrmController.PageKeys.Visit?"active":"")">Visits</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-large btn-white toggle" data-toggle="actions-filter3">Actions</button>
            <ul id="actions-filter3" class="floated-filter list-right">
                <li><a id="create-note-button" class="popup-create-note_open" data-section="create-note-container">Create Note</a></li>
                <li><a href="#" class="popup-confirm_open">Delete Person</a></li>
            </ul>
        </div>
    </div>
}
@*@section pageAlerts{
    <div class="alert alert-info alert-dismissable" id="note-created-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> Note was created
    </div>
}*@

@section breadcrumbs {
    @RenderSection("breadcrumbs", required: true)
}

@section pageDialogs {
    @RenderSection("pageDialogs", required: false)

    <div id="sendMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email @entityName (@contactEmailAddress)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="MessageTemplate">Message Template</label>
                            <div class="col-md-10">
                                <select asp-items="ViewBag.EmailTemplateItems" id="MessageTemplate" name="MessageTemplate"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageSubject">Subject</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageSubject" class="form-control" id="DirectMessageSubject"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="DirectMessageText">Body</label>
                            <div class="col-md-10">
                                <textarea name="DirectMessageBody" class="form-control" id="DirectMessageBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="sendDirectMessage()">Send</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        function sendDirectMessage() {
            var postData = {
                templateId: $("#MessageTemplate").val(),
                subject: $("#DirectMessageSubject").val(),
                body: $("#DirectMessageBody").val()
            };
            $.post(
            "/Crm/Contacts/@entityId/SendDirectMessage",
            postData,
            function () {
                $("#MessageSentAlert").html("Message [" + postData.subject + "] was successfully sent.");
                $("#MessageSentAlert").show();
            });
        }
        function createNote() {
            var postData = {
                content: $("#NewNoteContent").val(),
                parentNoteId: null
            };
            $.post(
            "/Crm/Contacts/@entityId/CreateNote",
            postData,
            function () {
                $("#note-created-alert").fadeIn(500).delay(4000).hide(500);
            });
        }
    </script>
    @RenderSection("scripts", required: false)
}
@RenderBody()
