@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Pharmacy>
@{
    Layout = "_LayoutContactListingContent.cshtml";
}
@section listingTable
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(z => z.svc_filled_date)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.prv_prescriber_first_name)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.prv_prescriber_last_name)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.svc_rx_class_desc)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.svc_drug_name)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.rev_billed_amt)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.rev_copay_amt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.svc_filled_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prv_prescriber_first_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prv_prescriber_last_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.svc_rx_class_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.svc_drug_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rev_billed_amt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rev_copay_amt)
                    </td>
                    <td>
                        <a asp-action="@ActionNames.Health.Pharmacy" asp-route-id="@ViewContext.GetRouteValue()" asp-route-pharmacyItemId="@item.rev_transaction_num">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ await Html.RenderPartialAsync("_PaginationPartial"); }
}
