@model IEnumerable<Traffk.Bal.Data.Rdb.TraffkTenantModel.MedicalClaimLineDiagnose>

@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MedicalClaimDiagnosis.ToCrmHeading());
    ViewData.IsListingPage(true);
    ViewData.HasPageMenuItems(true);
    ViewData.HasCustomPageMenuItems(true);
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];
}

@section breadcrumbItems {
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimsList" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">Medical Claims</a> <span>></span> </li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimDetail" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">Medical Claim Number @ViewData[AspHelpers.ViewDataKeys.MedicalClaimNumber]</a> <span>></span> </li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimLines" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">Medical Claim Line @ViewData[AspHelpers.ViewDataKeys.MedicalClaimLineNumber]</a> <span>></span> </li>
}

@section pageNavItems {
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimDetail" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.Background ? "active" : "")">Main</a></li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimLines" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.MedicalClaimLines ? "active" : "")">Lines</a></li>
}

@section listingTable
    {
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(z => z.DiagnosisNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(z => z.DiagnosisMc.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(z => z.DiagnosisMc.Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiagnosisNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiagnosisMc.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiagnosisMc.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
