@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Eligibility>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.EligibilityList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_id)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_first_name)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_last_name)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_current_status)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_relationship_desc)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_phone)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.ins_emp_group_name)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_state)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.Eligibility" asp-route-id="@ViewContext.GetRouteValue()">@item.mbr_id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_current_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_relationship_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ins_emp_group_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_state)
                </td>
            </tr>
        }
    </tbody>
</table>

}
