@model Traffk.Bal.Data.Rdb.TraffkTenantModel.MedicalClaim
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.HasCustomPageMenuItems(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MedicalClaim.ToCrmHeading());
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];

}

@section breadcrumbItems {
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimsList" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]">Medical Claims</a> <span>></span> </li>
}

@section pageNavItems {
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimDetail" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.MedicalClaims ? "active" : "")">Main</a></li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimLines" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.MedicalClaimLines ? "active" : "")">Lines</a></li>
}

<dl class="dl-horizontal">
    @Html.DescriptionListElement(model => model.MedicalClaimNumber)
    @Html.DescriptionListElement(model => model.CreatedAtUtc)
    @Html.DescriptionListElement(model => model.ServiceFromDd.CalendarDate, "Service From")
    @Html.DescriptionListElement(model => model.ServiceToDd.CalendarDate, "Service To")
</dl>
