@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Visit>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.VisitList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.VisitId)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.VisitType)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.VisitStartDd)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.VisitEndDd)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.AdmissionType)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.InpatientDays)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.Visit" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.VisitId">@item.VisitId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitStartDd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitEndDd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InpatientDays)
                </td>
            </tr>
        }
    </tbody>
</table>

}
