@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Traffk.Bal.Data.Rdb.TraffkTenantModel.MedicalClaim>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MedicalClaimsList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);
}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.MedicalClaimId)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.MedicalClaimNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.MedicalClaim" asp-route-id="@ViewContext.GetRouteValue()" asp-route-medicalClaimId="@item.MedicalClaimId">@item.MedicalClaimId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalClaimNumber)
                </td>
            </tr>
        }
    </tbody>
</table>
}
