@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<CareAlert>
@{
    Layout = "~/Views/Crm/_LayoutContactListingContent2.cshtml";
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.CareAlertsList.ToCrmHeading());
}
@section listingTable
    {
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.care_alert_id)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.care_alert_startDate)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.care_alert_desc)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.metric_name)
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="@ActionNames.Health.CareAlert" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.dw_record_id">@item.care_alert_id</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.care_alert_startDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.care_alert_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.metric_name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
