@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Traffk.Bal.Data.Rdb.MedicalClaim>
@{
    Layout = "_LayoutContactListingContent2.cshtml";
}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.rev_claim_id)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_id)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_gender)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_dob)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.svc_pos_code)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.svc_diag_1_code)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.svc_procedure_code)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.svc_service_frm_date)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.svc_service_frm_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.svc_service_frm_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.svc_service_to_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_claim_line_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_claim_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prv_type_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prv_first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_billed_amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_copay_amt)
                </td>
                <td>
                    <a asp-action="@ActionNames.Health.MedicalClaim" asp-route-id="@ViewContext.GetRouteValue()" asp-route-medicalClaimId="@item.rev_claim_id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



    @{ await Html.RenderPartialAsync("_PaginationPartial"); }

}
