@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Traffk.Bal.Data.Rdb.MedicalClaim>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MedicalClaimsList.ToCrmHeading());
}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.svc_pos_desc)
            </th>
            @*<th>
                @Html.SortableHeaderFor(z => z.prv_in_network_flag)
            </th>*@
            <th>
                @Html.SortableHeaderFor(z => z.svc_diag_1_desc)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.rev_allowed_amt)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.rev_coinsurance_amt)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.rev_copay_amt)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.rev_paid_amt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.MedicalClaim" asp-route-id="@ViewContext.GetRouteValue()" asp-route-medicalClaimId="@item.rev_claim_id">item.svc_pos_desc</a>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.prv_in_network_flag)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.svc_diag_1_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_allowed_amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_coinsurance_amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_copay_amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rev_paid_amt)
                </td>
            </tr>
        }
    </tbody>
</table>
}
