@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Eligibility>
@{
    Layout = "_LayoutContactListingContent2.cshtml";
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.EligibilityList.ToCrmHeading());
}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_id)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_gender)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.mbr_dob)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.ins_med_eff_date)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.ins_med_term_date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.Eligibility" asp-route-id="@ViewContext.GetRouteValue()">@item.mbr_id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mbr_dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ins_med_eff_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ins_med_term_date)
                </td>
            </tr>
        }
    </tbody>
</table>

}
