@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<HistoricalScore>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.HistoricalScoreList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.score_start_date)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.score_end_date)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.total_score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.score_start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.score_end_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_score)
                </td>
                @*<td>
                    <a asp-action="@ActionNames.Health.HistoricalScore" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.dw_record_id">@item.total_score</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

}
