@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Traffk.Bal.Data.Rdb.TraffkTenantModel.MillimanScore>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MillimanScoreList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.MillimanScoreId, null, null, null, "Score ID")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.ScorePeriodStartDd.CalendarDate, null, null, null, "Score Start Date")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.ScorePeriodEndDd.CalendarDate, null, null, null, "Score End Date")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.TotalScore, null, null, null, "Total Score")
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@CrmController.ActionNames.Health.MillimanScore" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.MillimanScoreId">@item.MillimanScoreId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScorePeriodStartDd.CalendarDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScorePeriodEndDd.CalendarDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalScore)
                </td>
            </tr>
        }
    </tbody>
</table>

}
