@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Participation>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.ParticipationList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.ParticipationId)
        </th>
        @*<th>
            @Html.SortableHeaderFor(z => z.program_name)
        </th>*@
        <th>
            @Html.SortableHeaderFor(z => z.ProgramCodeL)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.ProgramStatus)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.ProgramStartDd)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.ProgramEndDd)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.Participation" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.ParticipationId">@item.ParticipationId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramCodeL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramStartDd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramEndDd)
                </td>
            </tr>
        }
    </tbody>
</table>

}
