@using static TraffkPortal.Controllers.CrmController
@model IEnumerable<Traffk.Bal.Data.Rdb.TraffkTenantModel.QualityMetric>
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.IsListingPage(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.QualityMetricsList.ToCrmHeading());
    ViewData.HasPageMenuItems(false);

}
@section listingTable
    {
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.QualityMetricId)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.QualityMetricTypeL)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.MeasureFromDd)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.MeasureToDd)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.Positive)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.Numerator)
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.Denominator)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="@ActionNames.Health.QualityMetric" asp-route-id="@ViewContext.GetRouteValue()" asp-route-recordId="@item.QualityMetricId">@item.QualityMetricId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityMetricTypeL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasureFromDd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasureToDd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Positive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numerator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Denominator)
                </td>
            </tr>
        }
    </tbody>
</table>

}
