@model Traffk.Bal.Data.Rdb.TraffkTenantModel.MedicalClaim
@{
    Layout = "~/Views/Crm/_LayoutContact.cshtml";
    ViewData.HasCustomPageMenuItems(true);
    ViewData.SetTitleAndHeading(CrmController.ViewNames.Health.MedicalClaim.ToCrmHeading());
    var pageKey = (CrmController.PageKeys)ViewData[AspHelpers.ViewDataKeys.PageKey];

}

@section pageNavItems {
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimDetail" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.Background ? "active" : "")">Main</a></li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimLines" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.MedicalClaimLines ? "active" : "")">Lines</a></li>
    <li><a asp-controller="@CrmController.Name" asp-action="ContactMedicalClaimDiagnosis" asp-route-id="@ViewData[AspHelpers.ViewDataKeys.EntityId]" class="@(pageKey == CrmController.PageKeys.MedicalClaimDiagnosis ? "active" : "")">Diagnoses</a></li>
}

<dl class="dl-horizontal">
    @*@Html.DescriptionListElement(model => model.rev_claim_id)
    @Html.DescriptionListElement(model => model.rev_claim_line_id)
    @Html.DescriptionListElement(model => model.rev_claim_type)
    @Html.DescriptionListElement(model => model.rev_claim_type_flag)
    @Html.DescriptionListElement(model => model.ins_plan_type_code)
    @Html.DescriptionListElement(model => model.ins_plan_type_desc)
    @Html.DescriptionListElement(model => model.ins_carrier_id)
    @Html.DescriptionListElement(model => model.ins_carrier_name)
    @Html.DescriptionListElement(model => model.ins_coverage_type_code)
    @Html.DescriptionListElement(model => model.ins_coverage_type_desc)
    @Html.DescriptionListElement(model => model.ins_plan_id)
    @Html.DescriptionListElement(model => model.ins_emp_group_id)
    @Html.DescriptionListElement(model => model.ins_emp_group_name)
    @Html.DescriptionListElement(model => model.ins_division_id)
    @Html.DescriptionListElement(model => model.ins_division_name)
    @Html.DescriptionListElement(model => model.ins_cobra_code)
    @Html.DescriptionListElement(model => model.ins_cobra_desc)
    @Html.DescriptionListElement(model => model.mbr_id)
    @Html.DescriptionListElement(model => model.mbr_ssn)
    @Html.DescriptionListElement(model => model.mbr_first_name)
    @Html.DescriptionListElement(model => model.mbr_middle_name)
    @Html.DescriptionListElement(model => model.mbr_last_name)
    @Html.DescriptionListElement(model => model.mbr_gender)
    @Html.DescriptionListElement(model => model.mbr_dob)
    @Html.DescriptionListElement(model => model.mbr_street_1)
    @Html.DescriptionListElement(model => model.mbr_street_2)
    @Html.DescriptionListElement(model => model.mbr_city)
    @Html.DescriptionListElement(model => model.mbr_county)
    @Html.DescriptionListElement(model => model.mbr_state)
    @Html.DescriptionListElement(model => model.mbr_zip)
    @Html.DescriptionListElement(model => model.mbr_phone)
    @Html.DescriptionListElement(model => model.mbr_region_code)
    @Html.DescriptionListElement(model => model.mbr_region_name)
    @Html.DescriptionListElement(model => model.mbr_relationship_code)
    @Html.DescriptionListElement(model => model.mbr_relationship_desc)
    @Html.DescriptionListElement(model => model.prv_service_provider_id)
    @Html.DescriptionListElement(model => model.prv_npi)
    @Html.DescriptionListElement(model => model.prv_tin)
    @Html.DescriptionListElement(model => model.prv_type_desc)
    @Html.DescriptionListElement(model => model.prv_first_name)
    @Html.DescriptionListElement(model => model.prv_middle_name)
    @Html.DescriptionListElement(model => model.prv_last_name)
    @Html.DescriptionListElement(model => model.prv_gender)
    @Html.DescriptionListElement(model => model.prv_phone)
    @Html.DescriptionListElement(model => model.prv_speciality_1_code)
    @Html.DescriptionListElement(model => model.prv_Specialty_1_desc)
    @Html.DescriptionListElement(model => model.prv_city)
    @Html.DescriptionListElement(model => model.prv_county)
    @Html.DescriptionListElement(model => model.prv_state)
    @Html.DescriptionListElement(model => model.prv_zip)
    @Html.DescriptionListElement(model => model.prv_in_network_flag)
    @Html.DescriptionListElement(model => model.svc_pos_desc)
    @Html.DescriptionListElement(model => model.svc_diag_1_code)
    @Html.DescriptionListElement(model => model.svc_diag_1_desc)
    @Html.DescriptionListElement(model => model.svc_diag_2_code)
    @Html.DescriptionListElement(model => model.svc_diag_2_desc)
    @Html.DescriptionListElement(model => model.svc_diag_3_code)
    @Html.DescriptionListElement(model => model.svc_diag_3_desc)
    @Html.DescriptionListElement(model => model.svc_procedure_type)
    @Html.DescriptionListElement(model => model.svc_procedure_code)
    @Html.DescriptionListElement(model => model.svc_procedure_desc)
    @Html.DescriptionListElement(model => model.svc_rev_code)
    @Html.DescriptionListElement(model => model.svc_rev_desc)
    @Html.DescriptionListElement(model => model.svc_cpt_code)
    @Html.DescriptionListElement(model => model.svc_cpt_desc)
    @Html.DescriptionListElement(model => model.svc_icd_proc_1_code)
    @Html.DescriptionListElement(model => model.svc_icd_proc_1_desc)
    @Html.DescriptionListElement(model => model.svc_icd_proc_2_code)
    @Html.DescriptionListElement(model => model.svc_icd_proc_2_desc)
    @Html.DescriptionListElement(model => model.svc_drg_type_code)
    @Html.DescriptionListElement(model => model.svc_drg_type_Desc)
    @Html.DescriptionListElement(model => model.svc_drg_code)
    @Html.DescriptionListElement(model => model.svc_drg_desc)
    @Html.DescriptionListElement(model => model.svc_ip_days)
    @Html.DescriptionListElement(model => model.svc_covered_days)
    @Html.DescriptionListElement(model => model.svc_service_frm_date)
    @Html.DescriptionListElement(model => model.svc_service_to_date)
    @Html.DescriptionListElement(model => model.rev_paid_date)
    @Html.DescriptionListElement(model => model.svc_benefit_desc)
    @Html.DescriptionListElement(model => model.rev_allowed_amt)
    @Html.DescriptionListElement(model => model.rev_coinsurance_amt)
    @Html.DescriptionListElement(model => model.rev_copay_amt)*@

    @Html.DescriptionListElement(model => model.MedicalClaimNumber)
    @Html.DescriptionListElement(model => model.DischargeL)
    @Html.DescriptionListElement(model => model.CreatedAtUtc)
    @Html.DescriptionListElement(model => model.ServiceFromDd)
    @Html.DescriptionListElement(model => model.ServiceToDd)
</dl>
