@model IEnumerable<Contact>

@using static TraffkPortal.Controllers.CrmController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Contacts");
    ViewData.IsListingPage(true);
    ViewData.HasSelectableItems(true);
    ViewData.HasPageActions(true);
    var canAccessPhi = await User.GetCanAccessProtectedHealthInformationAsync(AuthorizationService);
}
@section pageActionItems
{
    <li class="multiselect-action">
        <a onclick="deleteContacts()" class="confirm-on-click" confirmMessageFunction="deleteSelectedItemsMessage()">Delete</a>
    </li>
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="all-items-selector" /></th>
                <th class="hidden">
                    @Html.SortableHeaderFor(z => z.ContactId)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.ContactType)
                </th>
                @if (canAccessPhi)
                {
                    <th>
                        @Html.SortableHeaderFor(z => z.MemberId)
                    </th>
                }
                <th>
                    @Html.SortableHeaderFor(z => z.FullName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr contextId="@item.ContactId">
                    <td><input type="checkbox" class="item-selector" contextId="@item.ContactId" /></td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.ContactId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactType)
                    </td>
                    @if (canAccessPhi)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>
                    }
                    <td>
                        <a asp-action="ContactBackground" asp-route-id="@item.ContactId">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </a>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-ellipsis-h toggle" aria-hidden="true" data-toggle="row-action-@item.ContactId"></i>
                        <ul id="row-action-@item.ContactId" class="floated-filter list-right">
                            <li>
                                <a onclick="deleteContact('@item.ContactId')" class="confirm-on-click" confirmMessage="Are you sure you want to delete contact: @item.FullName?">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
