@model ListingFilters

@foreach (var filterSection in Model.Sections)
            {
    <div class="panel panel-default">
        <div class="panel-heading">@filterSection.SectionName</div>
        <div class="panel-body">
            <div class="form">
                @foreach (var filter in filterSection.Filters)
                {
                    var filterTitle = filter.Title.RightOf("/", true);
                    var filterId = $"listingFilter_{filterSection.SectionName}_{filter.FieldName}_{filter.Value}";
                    <div class="form-group">
                        <input type="checkbox" value="@(filter.FieldName):@(filter.Value)" name="filters" id="@filterId" @if (filter.IsChecked) { <text>checked="checked"</text> } onchange="location='@filter.OnSubmittedUrl'"  />
                        <label for="@filterId">@filterTitle</label>
                    </div>
                }
            </div>
        </div>
    </div>
}
