@model Traffk.Portal.Models.NoteModels.NoteViewModel
@{
    var popupId = "popup-create-note";
    if (Model.ParentNoteId != null)
    {
        popupId += ("-" + Model.ParentNoteId);
    }

    var newNoteContentId = "NewNoteContent";
    if (Model.ParentNoteId != null)
    {
        newNoteContentId += ("-" + Model.ParentNoteId);
    }

}    
<div id="@popupId" class="popup">
    <div class="popup-content-container">
        <a class="@(popupId)_close"><i class="fa fa-2x fa-times popup-close-btn"></i></a>
        <h3>Create Note</h3>
        <form role="form" id="personal-edit-form" class="inline-form">
            <div class="form-row">
                <textarea class="form-control" id="@newNoteContentId"></textarea>
            </div>
            <ul class="step-buttons">
                <li><a href="#" class="btn btn-primary btn-large @(popupId)_close" onclick="createNote('@Model.EntityType', '@Model.EntityId', '@Model.ParentNoteId')">Save</a></li>
                <li><a href="#" class="btn btn-large btn-grey @(popupId)_close">Cancel</a></li>
            </ul>
        </form>
    </div>
</div>