@{
    Layout = "~/Views/Shared/_LayoutEmptyContent2.cshtml";
    ViewData["BodyContainerClass"] = "container-full-width no-side-padding";
    ViewData.SetIfMissing("Heading", ViewData["EntityTitle"] as string);
    var entityId = ViewData[ViewDataKeys.EntityId].ToString();
}
    <div class="row">
        <div class="col-xs-12">
            @RenderSection("breadcrumbs", required: true)
            <h1>@ViewData[ViewDataKeys.Heading]</h1>
        </div>
    </div>
    <div class="panel smallest-padding">
        @RenderSection("navItems", required: false)
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
@RenderSection("pageDialogs", required: true)
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @RenderSection("scripts", required: false)
    }
