@{
    Layout = "~/Views/Shared/_LayoutEmptyContent2.cshtml";
    ViewData["BodyContainerClass"] = "container-full-width no-side-padding";
    ViewData.SetIfMissing("Heading", ViewData["EntityTitle"] as string);
    var entityId = ViewData[ViewDataKeys.EntityId].ToString();
}

<section id="personal-page-panel">
    @RenderSection("pageAlerts", required: true)
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumbs">
                <li><a asp-controller="@CrmController.Name" asp-action="Index">CRM</a> <span>></span> </li>
                @*<li><a href="#">CRM: Male</a> <span>></span> </li>*@
                <li>@ViewData[ViewDataKeys.Heading]</li>
            </ul>
            <h1>@ViewData[ViewDataKeys.Heading]</h1>
        </div>
    </div>
    <div class="panel smallest-padding">
        @RenderSection("navItems", required: false)
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
</section>
@RenderSection("pageDialogs", required: true)
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @RenderSection("scripts", required: false)
    }
