@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var filters = ViewBag.ListingFilters as ListingFilters;
    var hasFilters = filters != null;
}
    <div class="row border-bottom">
        @RenderSection("listingFilters", required: false)
        <div class="col-sm-8" id="filter-tags-container">
            <p class="primary-color">
                All <span id="checkedBoxesCount">0</span> items were selected on this page, <a href="#">select all 100 items?</a>
            </p>
            <ul class="filter-tags">
                <li><a href="#">Workers Comp (3) <span><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
                <li><a href="#">Risk Reports (3) <span><i class="fa fa-times" aria-hidden="true"></i></span></a></li>
            </ul>
        </div>
        <div class="col-sm-2 text-right">
            @RenderSection("listingActionButtons", required: false)
        </div>
    </div>
    <div class="row" id="reports-container">
        <div class="col-xs-12">
            <div class="panel small-padding">
                @RenderSection("listingTable", required: true)
            </div>
        </div>
    </div>

@section scripts
{
    @RenderSection("scripts", required: false)
    <script>
        $('input[type=checkbox]').click(function() {
            var numberOfCheckedBoxes = document.querySelectorAll('input[type="checkbox"]:checked').length;
            //document.getElementById("checkedBoxesCount").textContent = numberOfCheckedBoxes;
            if (numberOfCheckedBoxes > 1) {
                $("ul.floated-filter.list-right li:not(.multiselect-action)").hide();
            } else {
                $("ul.floated-filter.list-right li:not(.multiselect-action)").show();
            }
        });
    </script>
}
@RenderBody()
@*@RenderSection("listingActionButtons", required: false)
    @RenderSection("listingTable", required: true)*@