@using Traffk.Bal.Data
@model IEnumerable<Traffk.Bal.Data.Rdb.TraffkTenantModel.Note>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.CreatedAt)
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.CreatedByContact, null, null, null, "Created By")
            </th>
            <th>
                @Html.SortableHeaderFor(z => z.Body, null, null, null, "Note")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByContact.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
            </tr>
        }
    </tbody>
</table>