@using Traffk.Portal.Models.NoteModels
@using Traffk.Utility
@model SerializableTreeNode<Traffk.Bal.Data.Rdb.TraffkTenantModel.Note>
@{
    var entityId = ViewData[AspHelpers.ViewDataKeys.EntityId].ToString();
    var entityType = ViewData[AspHelpers.ViewDataKeys.EntityType].ToString();
}

    @foreach (var item in Model.Children)
    {
        <div class="note-node">
            <p>

                <span class="note-creator-name">@item.Data.CreatedByContact.Users.FirstOrDefault().Email</span> <span class="note-date">@item.Data.CreatedAtUtc.ToShortDateTime()</span>
            </p>
            <p>
                @item.Data.Body
            </p>
            <p>
                <a id="create-note-button-@item.Data.NoteId" class="popup-create-note-@(item.Data.NoteId)_open" data-section="create-note-container">Reply</a>
                @Html.Partial("_CreateNotePartial", new NoteViewModel(@entityType, @entityId, @item.Data.NoteId.ToString()))
            </p>
            @Html.Partial("_NotesPartial", item)
        </div>
    }
