@model IEnumerable<HangfireJob>
@using static TraffkPortal.Controllers.JobsController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Jobs");
    ViewData.IsListingPage(true);
    ViewData.HasPageActions(true);
}
@section pageActionItems
{
    <li class="multiselect-action">
        <a onclick="cancelJobs()" class="confirm-on-click" confirmHeading="Are you sure?" confirmMessage="Are you sure you want to cancel these jobs?">Cancel Jobs</a>
    </li>
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th><input type="checkbox" id="all-items-selector" /></th>
            <th>
                @Html.SortableHeaderFor(model => model.JobId)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CreatedAtUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangfireJobDetails.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr jobId="@item.JobId">
                <td><input type="checkbox" class="item-selector" contextId="@item.JobId" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAtUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HangfireJobDetails.Method)
                </td>
                <td class="job-status">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-center">
                    @if (item.CanBeCancelled)
                    {
                        <i class="fa fa-ellipsis-h toggle" aria-hidden="true" data-toggle="row-action-@item.JobId"></i>
                        <ul id="row-action-@item.JobId" class="floated-filter list-right">
                            @if (item.CanBeCancelled)
                            {
                                <li>
                                    <a asp-action="@ActionNames.JobCancel" asp-route-id="@item.JobId" onclick="cancelJob(@item.JobId)" class="confirm-on-click" confirmHeading="Are you sure?" confirmMessage="Are you sure you want to cancel Job @item.JobId?">Yes, Cancel Job</a>
                                </li>
                            }
                        </ul>
                    }
                </td>

            </tr>
        }
        </tbody>
    </table>
}