@model IEnumerable<HangfireJob>
@using static TraffkPortal.Controllers.JobsController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Jobs");
    ViewData.IsListingPage(true);
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.JobId)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CreatedAtUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangfireJobDetails.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr jobId="@item.JobId">
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAtUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HangfireJobDetails.Method)
                </td>
                <td class="job-status">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section Scripts {
<script type="text/javascript">
    function cancelJob(el, jobId) {
        var url = $(el).attr("href");
        var sel = "tr[jobId='" + jobId + "'] td.job-status";
        //alert(url+"; "+sel);
        $.ajax({
            url: url,
            dataType: "json",
            type: "DELETE",
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify({ assetKey: assetKey }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $(sel).html("Cancelling...");
            },
            error: function (xhr) {
                $(sel).html("Error...");
                alert("error:\n" + JSON.stringify(xhr));
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
        return false;
    }
</script>
}
