@using TraffkPortal.Models.MessagingModels
@model IEnumerable<CommunicationBlast>
@{
    Layout = "_LayoutBlast.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CommunicationBlastTitle)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.CampaignName)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Blast" asp-route-id="@item.CommunicationBlastId">
                        @Html.DisplayFor(modelItem => item.CommunicationBlastTitle)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.JobStatus)
                </td>
                <td>
                    <a asp-action="Blast" asp-route-id="@item.CommunicationBlastId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
