@model IEnumerable<TraffkPortal.Models.MessagingModels.TemplateModel>
@{
    Layout = "~/Views/Shared/_LayoutListing.cshtml";
    ViewData.SetTitleAndHeading("Templates");
}
@section listingActionButtons
{
    <button type="button" class="btn btn-default" asp-action="CreateTemplate">Create</button>
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.TemplateId)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.TemplateName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemplateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="EditTemplate" asp-route-id="@item.TemplateId">
                            @Html.DisplayFor(modelItem => item.TemplateName)
                        </a>
                    </td>
                    <td>
                        <a asp-action="EditTemplate" asp-route-id="@item.TemplateId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ await Html.RenderPartialAsync("_PaginationPartial"); }

}
