@model TraffkPortal.Models.ErrorModels.ErrorModel
@using static TraffkPortal.Controllers.ErrorController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Error " + @Model.StatusCode);
}
<div class="row">
    <div class="panel medium-padding">
        <p class="text-danger">
            An error occurred while processing your request.  Our team has been notified.
        </p>
        <div class="form-row">
            @if (!String.IsNullOrEmpty(Model.Type))
            {
                <label asp-for="@Model.Type"></label>
                <p>@Model.Type</p>
            }
        </div>
        <div class="form-row">
            @if (!String.IsNullOrEmpty(Model.Message))
            {
                <label asp-for="@Model.Message"></label>
                <p>@Model.Message</p>
            }
        </div>

        <div class="form-row">
            @if (!String.IsNullOrEmpty(Model.StackTrace))
            {
                <label asp-for="@Model.StackTrace"></label>
                <p>@Model.StackTrace</p>
            }
        </div>
    </div>
</div>