@model IEnumerable<CommunicationBlast>
@{
    Layout = "~/Views/Shared/_LayoutListing.cshtml";
    ViewData.SetTitleAndHeading("Communication Blasts");
}
@section listingActionButtons
{
    <button type="button" class="btn btn-default" asp-action="CreateBlast">Create</button>
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CommunicationBlastTitle)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CampaignName)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CommunicationMedium)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.TopicName)
                </th>
                <th>
                    Next
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="Blast" asp-route-id="@item.CommunicationBlastId">
                            @Html.DisplayFor(modelItem => item.CommunicationBlastTitle)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampaignName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommunicationMedium)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                    </td>
                    <td>
                        @item.CommunicationBlastSettings?.Recurrence?.NextOccurrence?.StartAtUtc.ToLocalTime()
                    </td>
                    <td>
                        <a asp-action="Blast" asp-route-id="@item.CommunicationBlastId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ await Html.RenderPartialAsync("_PaginationPartial"); }

}