@model IEnumerable<TraffkPortal.Models.MessagingModels.MessageItem>
@{
    Layout = "~/Views/Shared/_LayoutListing.cshtml";
    ViewData.SetTitleAndHeading("Messages");
}
@section listingActionButtons
{
    <button type="button" class="btn btn-default" asp-action="CreateMessage">Create</button>
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.MessageTemplateId)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.MessageTemplateTitle)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.HasSubject)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.HasHtmlBody)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.HasTextBody)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageTemplateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="Message" asp-route-id="@item.MessageTemplateId">
                            @Html.DisplayFor(modelItem => item.MessageTemplateTitle)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasHtmlBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasTextBody)
                    </td>
                    <td>
                        <a asp-action="Message" asp-route-id="@item.MessageTemplateId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ await Html.RenderPartialAsync("_PaginationPartial"); }

}