@using static TraffkPortal.Controllers.UsersController
@model IEnumerable<TraffkPortal.Models.UserModels.UserModel>
@{
    Layout = "~/Views/Shared/_LayoutListing2.cshtml";
    ViewData.SetTitleAndHeading("Users", "This is the users subheading.");
}
@section listingFilters
{
    <div class="col-sm-2">
        <button class="btn btn-large btn-white toggle" data-toggle="reports-filter">Filters</button>
        <ul id="reports-filter" class="floated-filter list-left">
            <li>
                <a href="#">PHI</a>
                <ul class="filter-subnav">
                    <li><a href="#">PHI <span>4</span></a></li>
                    <li><a href="#">No Phi <span>3</span></a></li>
                </ul>
            </li>
            <li><a href="#">Budget Vs Actual <span>4</span></a></li>
            <li><a href="#">Risk Report <span>3</span></a></li>
            <li><a href="#">Medical Claims <span>3</span></a></li>
        </ul>
    </div>
}
@section listingActionButtons
{
    <button class="btn btn-large btn-white toggle" data-toggle="actions-filter2">Actions</button>
    <ul id="actions-filter2" class="floated-filter list-right">
        <li><a asp-action="@ActionNames.UserCreate">Create</a></li>
        <li class="multiselect-action"><a href="#" class="popup-confirm_open">Delete</a></li>
    </ul>
}
@section listingTable
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(z => z.UserName)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.CreatedAt)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.EmailConfirmed)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.LockoutEnabled)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(z => z.AssignedRoleNamesCsv)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="@ActionNames.UserBackground" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedRoleNamesCsv)
                    </td>
                    <td>
                        @if (Current.User.Id != item.Id)
                        {
                            <a asp-action="@ActionNames.UserDelete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{ await Html.RenderPartialAsync("_PaginationPartial2"); }

}