@model IEnumerable<TraffkPortal.Models.UserModels.UserModel>
@using static TraffkPortal.Controllers.UsersController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Users");
    ViewData.IsListingPage(true);
    ViewData.HasSelectableItems(true);
    ViewData.HasPageActions(true);
}
@section pageActionItems
{
    <li><a asp-action="@ActionNames.UserCreate">Create</a></li>
    <li class="multiselect-action"><a href="#" class="popup-confirm_open">Delete</a></li>
}
@section listingTable
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="all-items-selector" /></th>
                <th>
                    @Html.SortableHeaderFor(z => z.UserName)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.CreatedAt)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.EmailConfirmed)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.LockoutEnabled)
                </th>
                <th>
                    @Html.SortableHeaderFor(z => z.TwoFactorEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(z => z.AssignedRoleNamesCsv)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" class="item-selector" /></td>
                    <td>
                        <a asp-action="@ActionNames.UserBackground" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedRoleNamesCsv)
                    </td>
                    <td class="text-center">
                        <i class="fa fa-ellipsis-h toggle" aria-hidden="true" data-toggle="row-action-@item.Id"></i>
                        <ul id="row-action-@item.Id" class="floated-filter list-right">
                            @if (Current.User.Id != item.Id)
                            {
                                <li>
                                    <a asp-action="@ActionNames.UserDelete" asp-route-id="@item.Id" onclick="deleteUser(this, @item.Id)" class="confirm-on-click" confirmHeading="Are you sure?" confirmMessage="Are you sure you want to delete @item.UserName?">Delete</a>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}