@using static TraffkPortal.Controllers.TenantsController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.HasBreadcrumbItems(true);
    ViewData.HasPageMenuItems(true);
    var pageKey = (PageKeys)ViewData[ViewDataKeys.PageKey];
    var entityId = (int)ViewData[ViewDataKeys.EntityId];
    var applicationTitleById = ViewData["ApplicationTitleById"] as IDictionary<int, string>;
    var applicationsExist = applicationTitleById != null && applicationTitleById.Count > 0;
}
@section listingTable
{
    @RenderSection("listingTable", false)
}
@section breadcrumbItems
{
    <li><a asp-controller="@TenantsController.Name" asp-action="@TenantsController.ActionNames.TenantEdit">@ViewData["TenantName"]</a> <span>></span> </li>
    @RenderSection("breadcrumbItems", false)
}
@section pageNavItems {
    <li><a asp-action="Edit" asp-route-id="@entityId" class="@(pageKey==PageKeys.Basics?"active":"")">Main</a></li>
    @if (entityId == TenantFinder.TenantId)
    {
        <li class="dropdown @(pageKey == PageKeys.Applications ? "current-section" : "")" role="presentation">
            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                Applications
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @{
                    foreach (var kvp in applicationTitleById)
                    {
                        <li><a asp-controller="@ApplicationController.Name" asp-action="@ApplicationController.ActionNames.ApplicationBasics" asp-route-id="@kvp.Key">@kvp.Value</a></li>
                    }
                }
            </ul>
        </li>
        @*
    <li><a asp-action="@ActionNames.DeerwalkSettings" asp-route-tenantId="@entityId" class="@(pageKey==PageKeys.DeerwalkSettings? "active" : "")">Deerwalk Settings</a></li>
        *@
        <li><a asp-action="@ActionNames.PasswordSettings" asp-route-tenantId="@entityId" class="@(pageKey==PageKeys.PasswordSettings? "active" : "")">Password Policy</a></li>
        <li><a asp-action="@ActionNames.ReusableValuesList" asp-route-tenantId="@entityId" class="@(pageKey==PageKeys.ReusableValues? "active" : "")">Reusable Values</a></li>
        <li><a asp-action="@ActionNames.SmtpSettings" asp-route-tenantId="@entityId" class="@(pageKey==PageKeys.SmtpSettings? "active" : "")">SMTP Settings</a></li>
        <li><a asp-action="@TenantsController.ActionNames.FiscalYearSettings" asp-route-tenantId="@entityId" class="@(pageKey== TenantsController.PageKeys.FiscalYearSettings ? "active" : "")">Fiscal Year Settings</a></li>

                    }
    @RenderSection("pageNavItems", false)
}
@section pageAlerts {
    @RenderSection("pageAlerts", required: false)
}
@section pageActionItems {
    @RenderSection("pageActionItems", required: false)
}
@section Scripts {
    @RenderSection("scripts", required: false)
}
@RenderBody()


